scripts/segmentation_training
scripts/graph_training

*.pth
.vscode
*.gif
carla_eggs/*.egg
carla_eggs/*.whl
models
data

*.prof

__pycache__
.ipynb_checkpoints/

# DATA
scripts/models
/sim-results/
*.pdf
*.p
*.pkl
*.txt
*.bin
*.png
*.ply
*.tiff
*.tif
*.jpeg
